body {
    font-family: $ffamily-primary;
    color: $fcolor-default;
    font-size: $fsize-primary;
    font-weight: $fweight-primary;
    line-height: $line-height-primary;
    letter-spacing: $letter-space;
    max-width: 100%;
    margin: 0 auto;
}