h1, h3, h4 {
    font-family: $ffamily-secondary;
    font-weight: $fweight-secondary;
}

h1 {
    line-height: 50px;
    font-size: 30px;
        @include media ($tablet) {
            font-size: 33px; }
                @include media ($desktop) {
                    line-height: 64px;
                    font-size: 48px;
                }
        
}
    

h3, h4 {
    font-size: $fsize-secondary;
    line-height: 43.16px;
    letter-spacing: 0.1em;
    margin-bottom: 40px;
        @include media ($tablet) {
            font-size: 28px;
            line-height: 46.48px;
            margin-bottom: 50px;
        }
}

p {
    color: $svg-bg-color;
}

.add-margin {
    margin-top: 40px;
}