main {
    max-width: 320px;
    margin: 0 auto;
    padding: $padd-main-mob;
        @include media ($tablet) {
            padding: $padd-main-tablet; 
            max-width: 768px;
        }  
        @include media ($desktop) {
            padding: $padd-main-desktop;
            max-width: 1440px;
        }
}

h1, h3, h4 {
    font-family: $ffamily-secondary;
    font-weight: $fweight-secondary;
} 

h3, h4 {
    font-size: $fsize-secondary;
    line-height: 40px;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
        @include media ($tablet) {
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 30px;
        }
}

p {
    color: $svg-bg-color;
        @include media ($tablet) {
            font-size: 19px;
            letter-spacing: 0.05em;
        }
}

.paragraph-add-margin {
    margin-top: 20px;
    margin-bottom: 30px;
}

.project-overview {
    @include media ($desktop) {
        width: 570px;
    }
}

h4 {
    line-height: 43.16px;
        @include media ($tablet) {
            line-height: 46.48px;
        }
}

.main__project-overview, .main__initial-sketches {
    margin-bottom: 70px;
        @include media ($desktop) {
            margin-bottom: 90px;
        }
}

.main__user-research {
    margin-bottom: 63px;
    @include media ($tablet) {
        margin-bottom: 70px;
    }
    @include media ($desktop) {
        margin-bottom: 90px;
    }
}

.main__final {
    letter-spacing: 0.1em;
        @include media ($desktop) {
            letter-spacing: 0.05em;
        }
  }